<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
  </head>
  <body>
    <h1>ClientA</h1>

  <% if (!user) { %>
  <a href="/login">Login with SSO</a>
  <% } else { %>
  <p>Welcome <%= user.userId %></p>
  <a href="/profile">View Profile</a>
  <br/>
  <a href="/logout">Logout</a>
  <br/>
  <a href="/logout-all">Logout All Devices</a>
  <% } %>
  </body>
</html>
