MONGODB_URI=
SSO_SECRET=
ACCESS_SECRET=
REFRESH_SECRET=
ISSUER=http://localhost:4000
OIDC_PRIVATE_KEY_PATH=./keys/private.pem
OIDC_PUBLIC_KEY_PATH=./keys/public.pem
OIDC_KID=sso-key-1
REDIS_URL=redis://localhost:6379
SALT_ROUNDS=10
PORT=4000